{% extends 'base.html.twig' %}
{% block title  %}
    {{ parent() }} | Créer un compte
{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un compte</h1>
    <div class="container">
        <div class="row">
        <div class="col-2"></div>
<div class="col-8">
    <br>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.imageFile) }}<br>
    {{ form_row(registrationForm.nickname) }}<br>
    {{ form_row(registrationForm.email) }}<br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe : '
        }) }}<br>
        {{ form_row(registrationForm.agreeTerms) }}<br>

        <button type="submit" class="btn btn-primary">Créer un compte</button>
    {{ form_end(registrationForm) }}
</div></div></div>
{% endblock %}
