{% extends 'base.html.twig' %}
{% block title  %}
    {{ parent() }} | {{ schleich.name }}
{% endblock %}
{% block body %}
    <div class="card-flyer">
        <div class="text-box">
            <div class="image-box">
                <img src="{{ vich_uploader_asset(schleich, 'imageFile')}}" alt="{{ schleich.name }}" width="250"/>
            </div>
            <div class="text-container">
                <h6>{{ schleich.name }}</h6>
                <p>{{ schleich.biography }}</p>
            </div>
        </div>
    </div>
{% endblock %}

