{% extends 'base.html.twig' %}
{% block title  %}
    {{ parent() }} | {{ petshop.name }}
{% endblock %}
{% block body %}
    <div class="card-flyer">
        <div class="text-box">
            <div class="image-box">
{#                <img src="{{ vich_uploader_asset(petshop, 'imageFile') }}" alt="{{ petshop.name }}" width="250"/>#}
            </div>
            <div class="text-container">
                <h6>{{ petshop.name }}</h6>
                <p>{{ petshop.biography }}</p>
            </div>
        </div>
    </div>
{% endblock %}

