
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-black">

        <div class="card-flyer">
            <div class="text-box">
                <div class="image-box">
                        {% if thisClass == "petshop" %}
                            <a href="{{ path('petshop_details', {slug: item.slug, id: item.id})}}" title="{{ item.name }}">
                            {% if not item.imageFile %}
                                <img src="{{ asset('/uploads/images/placeholder_petshop.png')}}" alt="{{ item.name }}" />
                            {% endif %}
                        {% elseif thisClass == "horse_schleich" %}
                            <a href="{{ path('horse_schleich_details', {slug: item.slug, id: item.id})}}" title="{{ item.name }}">
                                {% if not item.imageFile %}
                                    <img src="{{ asset('/uploads/images/placeholder_horseschleich.png')}}" alt="{{ item.name }}" />
                                {% endif %}
                        {% endif %}
                        {% if item.imageFile %}
                            <img src="{{ vich_uploader_asset(item.imageFile, 'imageFile')}}" alt="{{ item.name }}" />
                        {% endif %}
                            </a>
                </div>
                <div class="text-container">
                    <h6>{{ item.name }}</h6>
                    Propriétaire :
                        {% if app.user %}
                            <a href="{{ path('profile', {nickname: item.user.nickname}) }}" class="nav-link" title="{{ item.user.nickname }}">{{ item.user.nickname }}</a>
                        {% else %}
                            {{ item.user.nickname }}
                        {% endif %}
                    <p>{{ item.biography | u.truncate(50, '...', false) }}</p>
                </div>
            </div>
        </div>

</div>


