<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-black">
    <a href="{{ path('accueil') }}" title="{{ item.name }}">
        <div class="card-flyer">
            <div class="text-box">
                <div class="image-box">
                    <img src="{{ item.picture }}" alt="{{ item.name }}" />
                </div>
                <div class="text-container">
                    <h6>{{ item.name }}</h6>
                    <p>{{ item.biography }}</p>
                </div>
            </div>
        </div>
    </a>
</div>


