{% extends 'base.html.twig' %}
{% block title  %}
    {{ parent() }} | {{ user.nickname }}
{% endblock %}
{% block body %}
    <div class="container">
    {% if app.user == user %}
        <form action="{{ path('editProfile', {nickname: user.nickname}) }}">
            <button type="submit" name="edit" class="btn btn-primary">Modifier mon profil</button>
        </form>
    {% endif %}
    <img src="{{ vich_uploader_asset(user, 'imageFile')}}" alt="{{ user.nickname }}" title="{{ user.nickname }}" width="250">
    {% if app.user.about %}
        <p class="text-black text-center">{{ user.about }}</p>
    {% endif %}
    <p class="text-center text-black">{{ user.nickname }} est membre depuis le {{ user.registeredAt | date('d/m/Y')}}, il a {{ user.petshops.count }} petshops et {{ user.horseSchleiches.count }} chevaux Schleich, les voici :</p>
    </div>
    <div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            {% for item in items %}
                {% if item in user.petshops %}
                {% set thisClass='petshop' %}
                {% elseif item in user.horseSchleiches %}
                    {% set thisClass='horse_schleich' %}
                    {% endif %}
                {% include 'inc/cards.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
    <div class="d-flex justify-content-center">
        {% do items.setPageRange(4) %}
        {{ knp_pagination_render(items, 'inc/pagination.html.twig') }}
    </div>

{% endblock %}



